extends ../layouts/base

block metas
  meta(name="Author" content="北京凡度网络")
  meta(name="keywords" content="拇指妈妈,圣元优博")
  meta(name="Description" content="圣元国际拇指妈妈微信商城购物平台。")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

block title
  title 拇指妈妈微信商城

block stylesheets

block body
  body

block scripts
  script(type="text/javascript" src="/wechat/js/dist/bundle.js")