extends ../layouts/base

block metas
  meta(name="Author" content="北京凡度网络")
  meta(name="keywords" content="拇指妈妈,圣元优博")
  meta(name="Description" content="圣元国际拇指妈妈在线群聊系统")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

block title
  title 拇指妈妈在线群聊

block stylesheets
  //link(rel="stylesheet" type="text/css" href="/chat/css/main.css")
  //link(rel="stylesheet" type="text/css" href="/chat/css/style.css")

block scripts
  script(type="text/javascript" src="/socket.io/socket.io.js")
  script(type="text/javascript" src="/chat/js/dist/bundle.js")