doctype html
html(lang="zh-CN")
  head
    block title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    block metas
    block stylesheets
  body
    block main
    block scripts